@import "_param";
* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.top-line {
    width: 100%;
    height: 76px;
    background-color: $bgcolor_blue;
}

.header-style {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.container {
    max-width: $container__width;
    width: 96%;
    margin: 0 auto;
}

.menu__company {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu__items {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline;
    color: $text__menu_color;
    font-family: $font__first;
    font-size: 20px;
    font-weight: 400;
}

.menu__item_margin {
    margin: 15px 10px 0 10px;
}

.menu__link {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: $logo__text_color;
    }
}

.logo-text-tel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    &_margin {
        margin-bottom: 20px;
    }
}

.logo-name {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logo__title {
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    font-family: $font__second_bold;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.logo__link {
    text-decoration: none;
    cursor: pointer;
    color: $logo__text_color;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.logo__subtitle {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 640px;
    height: 32px;
    color: $text__subtitle_color;
    font-family: $font__second;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.tel {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &__icon {
        color: $text__main_color;
    }
    &__number {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        color: $text__main_color;
        font-family: $font__first;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
    }
    &__btn {
        margin: 0 10px 0 15px;
        padding: 0 0 0 0;
        width: 150px;
        height: 40px;
        background-color: $bgcolor_blue;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        color: $text__second_color;
        font-family: $font__first;
        font-size: 15px;
        font-weight: 400;
        &:hover {
            opacity: 0.8;
        }
    }
}

.service {
    &__menu {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        box-sizing: border-box;
    }
    &__items {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        height: 60px;
        border-radius: 10px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        background-color: $bg-menu__plate_color;
        align-items: center;
    }
    &__item {
        margin: 0 40px 0 40px;
        padding: 0 0 0 0;
        display: inline;
        text-transform: uppercase;
        font-family: $font__first;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    &__link {
        color: $text__second_color;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $logo__text_color;
        }
    }
    &__hr {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        box-sizing: border-box;
        height: 60px;
        width: 5px;
        color: $bg-menu__plate_color;
        border-right: 2px solid $bg__footer_color;
        opacity: 0.8;
        border-radius: 10px;
    }
}

.bullet__items {
    margin: 0 auto;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // width: 100%;
    height: 100px;
    align-items: center;
    border-bottom: 3px solid $text__main_color;
    &_margin {
        margin-bottom: 40px;
    }
}

.bullet__item {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.bullet__img {
    width: 20%;
    margin: 0 12px;
}

.bullet__text {
    width: 155px;
    color: $text__main_color;
    font-family: $font__second;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.main-style {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.slider {
    &__points {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
    &__point {
        margin: 0 4px 0 5px;
        padding: 0 0 0 0;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: $bg-form__plate_color;
        cursor: pointer;
        &:hover {
            background-color: $bg-menu__plate_color;
        }
    }
    &__point_active {
        background-color: $bg-menu__plate_color;
        cursor: auto;
    }
    &__points_margin {
        margin-bottom: 15px;
    }
    &__img {
        width: 100%;
    }
    &__top {}
    &__top_margin {
        margin-bottom: 60px;
    }
    &__item {}
}


/*Карусель*/

.carousel {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.carousel img {
    margin: 0;
    padding: 0;
    width: 105.3%;
    /*делаем этот элемент блочным, что бы убрать лишнее пространство вокргу картинок */
    display: block;
}

.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    padding: 0;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: 3px 3px 5px #000;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}

.arrow:active {
    box-shadow: none;
}

.prev {
    left: 3%;
    z-index: 10;
}

.next {
    right: 3%;
    z-index: 10;
}

.gallery {
    width: 100%;
    overflow: hidden;
}

.gallery ul {
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 1000ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
    font-size: 0;
}

.gallery li {
    display: inline-block;
    margin-right: 0.751%;
}


/*карусель*/

.advantage_margin {
    margin-bottom: 86px;
}

.advantage__bullets {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.advantage__bullets-left {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bullets__item {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.bullets_margin {
    margin-bottom: 25px;
}

.bullets__text {
    padding: 0 0 0 0;
    max-width: 200px;
    color: $text__main_color;
    font-family: $font__second;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

.bullets__text_right {
    text-align: right;
    margin: 0 21px 0 0;
}

.bullets__text_left {
    text-align: left;
    margin: 0 0 0 21px;
}

.advantage__bullets-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section {
    &__title {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font__second;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        &_black {
            color: $text__main_color;
        }
        &_white {
            color: $text__second_color;
        }
    }
    // .section__subtitle
    &__subtitle {
        // .section__subtitle_white
        &_white {}
    }
}

.form-plate {
    &__request {
        margin: 0 0 0 0;
        padding: 0 8% 0 0;
        background-image: url('../img/form-plate/form-plate_bg.jpg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 351px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__form {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        box-sizing: border-box;
        background-color: $bgcolor_blue;
        width: 485px;
        height: 302px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
}

.input {
    margin: 0 0 0 0;
    padding: 5px;
    width: 275px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: $text__second_color;
    box-shadow: 5px 5px 15px -12px #000000 inset;
    font-size: 16px;
    color: $text__main_color;
    outline: none;
}

.button {
    width: 220px;
    height: 45px;
    background-color: $btn_color;
    border-radius: 20px;
    outline: none;
    color: $text__main_color;
    font-size: 20px;
    font-family: $font__second;
    font-weight: 600;
    &:hover {
        background-color: $btn_hover_color;
        cursor: pointer;
    }
}

.request {}

.form {
    // .form__title
    &__title {
        // .form__title_white
        &_white {}
    }
    // .form__items
    &__items {}
    // .form__option
    &__option {}
}

.services-style {}

.services-items {}

.service-item {}

.terms {
    // .terms__text
    &__text {}
}

.form-search {
    // .form-search__text
    &__text {}
    // .form-search__subtitle
    &__subtitle {}
    // .form-search__items
    &__items {}
}

.form-serach {
    // .form-serach__plate
    &__plate {}
}

.select {}

.reviews {
    // .reviews__slider
    &__slider {}
    // .reviews__left-arrow
    &__left-arrow {}
    // .reviews__items
    &__items {}
    // .reviews__item
    &__item {}
    // .reviews__item-name
    &__item-name {}
    // .reviews__item-stars
    &__item-stars {}
    // .reviews__item-text
    &__item-text {}
}

.form-question {
    // .form-question__plate
    &__plate {}
    // .form-question__form
    &__form {}
}

.about {
    // .about__text
    &__text {}
}

.footer {
    // .footer__items
    &__items {}
    // .footer__item
    &__item {}
    // .footer__title
    &__title {}
    // .footer__link
    &__link {}
}

.footer-menu {
    // .footer-menu__link
    &__link {}
}

.footer_company {
    // .footer_company__item
    &__item {}
}

.footer-city {
    // .footer-city__items
    &__items {}
    // .footer-city__item
    &__item {}
    // .footer-city__link
    &__link {}
}