RewriteEngine On

RewriteRule /img/(.+)$ img/$1 [L]
RewriteRule /css/(.+)$ css/$1 [L]
RewriteRule /fonts/(.+)$ fonts/$1 [L]
RewriteRule /js/(.+).js$ js/$1.js [L]
RewriteRule ^([a-z_a-z]+[0-9]?+)$ index.php?path=index/$1 [L]
RewriteRule ^([a-z_a-z]+[0-9]?+)/(\w+)$ index.php?path=index/$1&id=$2 [L]
RewriteRule /confirmation.php$ confirmation.php [L]
RewriteRule /sendmailing.php$ sendmailing.php [L]
ErrorDocument 404 /index.php?path=page404