$font__first: 'PT Sans',
sans-serif;
$font__second: 'Arial';
$font__second_bold: 'Arial Black';
$logo__text_color: #f7a900;
$bgcolor_blue: #0076d5;
$btn_color: #ffc123;
$btn_hover_color: #e0a101;
$bg-menu__plate_color: #2c2c2c;
$bg-menu__plate_hover: #4d4b4b;
$bg-form__plate_color: #d5ecff;
$bg-cell-cost: #eaf5ff;
$bg__stars_color: #fe8f00;
$bg__footer_color: #434955;
$container__width: 1520px;
$container2__width: 1140px;
// $container2__width: 900px;
$text__menu_color: #0076d5;
$text__main_color: #000;
$text__second_color: #fff;
$text__subtitle_color: #999999;